# Latex
*.aux
*.bbl
*.blg
*.log
*.bcf
*.toc
*.run.xml
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*~

# Docs
docs/_build/

# C++
build

# Python
.venv
venv
*.pyc
*.egg-info

# Dependencies
deps/bin
deps/include
deps/lib
deps/share
deps/src/SuiteSparse/
deps/src/abseil-cpp/
deps/src/apriltag/
deps/src/ceres-solver/
deps/src/eigen/
deps/src/googletest/
deps/src/opencv/
deps/src/rerun_cpp_sdk/
deps/src/yaml-cpp/

# Misc
tags
.cache
*.bag
*.pdf
.session.vim
