[submodule "proto_parts"]
	path = proto_parts
	url = git@github.com:chutsu/proto_parts.git
        ignore = dirty
[submodule "third_party/src/tiscamera"]
	path = third_party/src/tiscamera
	url = https://github.com/TheImagingSource/tiscamera
[submodule "third_party/src/fast"]
	path = third_party/src/fast
	url = https://github.com/edrosten/fast-C-src
[submodule "third_party/src/apriltag"]
	path = third_party/src/apriltag
	url = https://github.com/AprilRobotics/apriltag
[submodule "third_party/src/apriltag-imgs"]
	path = third_party/src/apriltag-imgs
	url = https://github.com/AprilRobotics/apriltag-imgs
[submodule "third_party/src/stb"]
	path = third_party/src/stb
	url = https://github.com/nothings/stb
