# Latex
*.aux
*.bbl
*.blg
*.log
*.bcf
*.toc
*.run.xml
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*~

# Docs
docs/_build/

# C++
build

# Python
.venv
venv
*.pyc
*.egg-info

# Dependencies
third_party/bin
third_party/include
third_party/lib
third_party/share
third_party/src/SuiteSparse/
third_party/src/abseil-cpp/
third_party/src/apriltag/
third_party/src/ceres-solver/
third_party/src/eigen/
third_party/src/googletest/
third_party/src/opencv/
third_party/src/rerun_cpp_sdk/
third_party/src/yaml-cpp/

# Misc
tags
.cache
*.bag
*.pdf
.session.vim
