*.aux
*.bbl
*.blg
*.log
*.bcf
*.toc
*.run.xml
*.out
*.synctex.gz
*.fdb_latexmk
*.fls

*~

bin
obj
tags
build
docs/_build
proto/deps/bin
proto/deps/include
proto/deps/lib
proto/deps/share
proto/deps/src

# matlab
*.mat
*.mex
*.o
octave-workspace

# misc
.ropeproject

*.pyc
