<?xml version="1.0"?>
<model>
    <name>Landing Target</name>
    <version>0.1</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Chris Choi</name>
        <email>chutsu@gmail.com</email>
    </author>

    <description>
      A simple landing target.
    </description>
</model>
