<?xml version="1.0"?>
<launch>
  <!-- Sync gazebo time with ros -->
  <param name="use_sim_time" value="true" />

  <!-- Settings -->
  <param name="sim_mode" value="true" />
  <param name="debug_mode" value="false" />

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find proto_ros)/worlds/mav_sim.world" />
    <arg name="use_sim_time" value="true" />
    <arg name="verbose" value="false" />
    <arg name="headless" value="false" />
    <arg name="debug" value="false" />
    <arg name="paused" value="false" />
    <arg name="gui" value="true" />
  </include>

  <!-- ATL -->
  <node pkg="proto_ros" name="atl_node" type="atl_node" output="screen" required="true">
    <param name="config" value="$(find proto_ros)/config/atl.yaml" />
  </node>

  <!-- Landing Zone Detector -->
  <node pkg="proto_ros" name="lz_detector_node" type="lz_detector_node" output="screen" required="true">
    <param name="config" value="$(find proto_ros)/config/atl.yaml" />
  </node>
</launch>
